{% extends 'base.html' %}
{% load static %}  

{% block title %}Home - Student Grievance Portal{% endblock %}

{% block content %}
<div class="image-box">
    <img src="{% static 'images/grievance_home.jpg' %}" alt="Grievance Portal">
</div>
<br>
<h2>About the Portal</h2>
<p>
    This Student Grievance Portal allows students to submit and track their grievances online. 
    It ensures transparency, accountability, and faster resolution of issues related to academics, 
    administration, or campus life.
</p>
<br>
<h2>Our Mission</h2>
<p>
    To provide a reliable communication channel between students and administration, 
    promoting a healthy, fair, and responsive campus environment.
</p>
{% endblock %}
